<!DOCTYPE html>
<html>
<head>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width">
<link href="/splash.jpg" rel="apple-touch-startup-image">
<link rel="apple-touch-icon" href="apple-touch-icon.png"> 
</head>
<body><br><br>
  <p>
    <%= flash %>
  </p>
  <br>
  <p style="text-align:center;"><a href="/settings/clear_cache">Tap to Clear Cache </a></p>
  <br>
  <br>
  <br>  
  <p style="text-align:center;"><a href="/settings/restart_beamer">Tap to Restart Beamer</a></p>
  <br>
  <br>
  <br>
  <p style="text-align:center;"><a href="/settings/close_beamer">Tap to Close Beamer</a></p>
  <br>
  <br>
  <br>
  <p style="text-align:center;"><a href="/">Return to Browsing</a></p>
</body>
</html>